
    <section
    class="bg-cover bg-center bg-no-repeat bg-[url('/hotel.jpg')] lg:min-h-screen m-5 lg:m-0 rounded-lg lg:rounded-none overflow-hidden ">

    <div class="bg-black/60 w-full relative">
      <div
        class="container mx-auto px-5 py-32 h-full lg:min-h-screen flex justify-center flex-col text-white lg:text-center">
        <h1 class="text-4xl lg:text-7xl font-bold">
          Hotel Treats
        </h1>

        <p class="mt-2 lg:mt-4 lg:text-lg">
          Get ready to live an unforgettable experience with Hotel Treats!
        </p>
      </div>
      <div class="hidden lg:flex flex-col items-center gap-4 absolute top-1/2 -translate-y-1/2 right-12">
        <div class="h-3 w-3 bg-neutral-50 rounded-full"></div>
        <div class="h-3 w-3 bg-neutral-400 rounded-full"></div>
        <div class="h-3 w-3 bg-neutral-400 rounded-full"></div>
        <div class="h-3 w-3 bg-neutral-400 rounded-full"></div>
      </div>
    </div>

  </section>

