
    <section>
        <div class="container px-5 mx-auto">
 
         <div class="max-w-lg lg:max-w-none mx-auto border border-1 border-neutral-200 m-5 rounded-lg relative flex flex-col lg:flex-row items-center justify-end lg:justify-between overflow-hidden w-full">
 
           <div class="z-10 top-0 left-0 w-full flex items-center text-center flex-col  p-8 lg:items-start lg:text-left lg:max-w-xl">
             <h2 class="text-3xl lg:text-5xl font-bold">Customer support</h2>
             <p class="mt-4">Hotel Treats' team is always at your service. Contact us in case you have any questions or if there is a hotel you wish to see listed. </p>
             <div class="p-5 lg:p-0 absolute lg:relative bottom-4 lg:bottom-0 z-10 w-full"><a href="#" class="mt-4 text-white bg-black rounded-lg w-full inline-block lg:w-fit py-3 px-6  text-center ">Contact us</a></div>
           </div>
           
 
           <div class="relative">
             <div class="absolute top-0 left-0 w-full h-40 lg:w-40 lg:h-full lg:bg-gradient-to-r bg-gradient-to-b from-white to-white/0"></div>
             
           <img src="/girl.jpg" alt="" class="aspect-square lg:aspect-auto  object-cover lg:object-none  w-full lg:w-fit lg:h-full">
           </div>
 
 
         </div>
 
        </div>
     </section>