<section>
  <div class="container px-5 mx-auto">

    <div
      class="relative flex flex-col items-center justify-end w-full max-w-lg m-5 mx-auto overflow-hidden border rounded-lg lg:max-w-none border-1 border-neutral-200 lg:flex-row lg:justify-between">

      <div
        class="top-0 left-0 z-10 flex flex-col items-center w-full p-8 text-center lg:p-16 lg:items-start lg:text-left lg:max-w-xl">
        <h2 class="text-3xl font-bold lg:text-5xl">Customer support</h2>
        <p class="mt-4 lg:mt-8">Hotel Treats' team is always at your service. Contact us in case you have any questions
          or if
          there is a hotel you wish to see listed. </p>
        <div class="absolute z-10 w-full p-5 lg:p-0 lg:relative bottom-4 lg:bottom-0 lg:mt-8"><a href="#"
            class="inline-block w-full px-6 py-3 mt-4 text-center text-white bg-black rounded-lg lg:w-fit ">Contact
            us</a></div>
      </div>


      <div class="relative">
        <div
          class="absolute top-0 left-0 w-full h-40 lg:w-40 lg:h-full lg:bg-gradient-to-r bg-gradient-to-b from-white to-white/0">
        </div>

        <img src="/girl.jpg" alt=""
          class="object-cover w-full aspect-square lg:aspect-auto lg:object-none lg:w-fit lg:h-full">
      </div>


    </div>

  </div>
</section>