<section>
    <div class="container mx-auto px-5 pt-28">
      <h2 class="text-3xl lg:text-5xl font-bold">
        Why choose Hotel Treats?
      </h2>
      <div class="grid grid-cols-2 lg:grid-cols-4 py-12 lg:py-16 gap-x-8 lg:gap-x-12 gap-y-12">

        {% for feature in whychoose %}

        <div class="text-center flex flex-col">
          <img src="/{{feature.icon}}.svg" class="h-20">
          <h3 class="font-bold text-xl mt-2 lg:mt-4">
            {{feature.title}}
          </h3>
          <p class=" mt-2 lg:mt-4">{{feature.desc}}</p>
        </div>

        {% endfor %}


      </div>
    </div>
  </section>
