<section>
  <div class="container px-5 mx-auto pt-28">
    <h2 class="text-3xl font-bold lg:text-5xl">
      Why choose Hotel Treats?
    </h2>
    <div class="grid grid-cols-2 py-12 lg:grid-cols-4 lg:py-16 gap-x-8 gap-y-12">

      {% for feature in whychoose %}

      <div class="flex flex-col text-center">
        <img src="/{{feature.icon}}.svg" class="h-20">
        <h3 class="mt-2 text-xl font-bold lg:mt-4">
          {{feature.title}}
        </h3>
        <p class="mt-2 lg:mt-4">{{feature.desc}}</p>
      </div>

      {% endfor %}


    </div>
  </div>
</section>