<section>
  <div class="container px-5 mx-auto pt-28">
    <h2 class="text-3xl font-bold lg:text-5xl">
      How it works?
    </h2>
    <div class="relative">

      <div class="w-full mx-auto mt-12 overflow-hidden rounded-lg lg:rounded-3xl lg:mt-16">
        <iframe src="https://www.youtube-nocookie.com/embed/Jca9pqPY32Q" title="YouTube video player" frameborder="0"
          class="w-full aspect-video"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen loading="lazy"></iframe>
      </div>

    </div>
  </div>
</section>