<section>
    <div class="container mx-auto px-5 pt-28">
      <h2 class="text-3xl lg:text-5xl font-bold">
        How it works?
      </h2>
      <div class="relative">
        <img src="/video.png" class="w-full rounded-lg lg:rounded-2xl mt-12 lg:mt-16">
      </div>
    </div>
  </section>

